<div class="container">
  <h4>About:</h4>
  <div class="">
    <p>The main page displays a list of available quizzes. After expanding the selected quiz and clicking 'Start Quiz',
      the quiz starts (questions with answers are loaded in new modal).
      After selecting the answers, the quiz should be sent to the 'backend',
      to receive information about the result. The result includes a grade (positive/negative),
      the number of correct answers and duration.</p>
  </div>
  <div>
    <p><b>Contact</b>: gerstel.tomasz&#64;gmail.com</p>
  </div>

</div>
